body {
  margin: 0;
  padding: 0;
}

/* content */
@media all and (max-width: 640px) {
  .paper-main {
    flex-basis: 100% !important;
  }
}

.paper-main {
  flex-basis: 65%;
}

.content {
  font-family: monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-greeting {
  justify-content: center;
  align-items: center;
}

.about-2 {
  max-width: 60%;
  font-size: 18px;
}
